@import '../../variables.scss';

.home {
    flex: 1;
    padding-top: 24px;
    padding-bottom: 24px;
    background-color: $clr_bg_light;

    &__top-bar {
        margin-top: 16px;
    }

    &__grid {
        display: grid;
        grid-gap: 24px;
        padding: 24px 0;
        grid-template-columns: minmax(0, 1fr);

        @include breakpoint(sm) {grid-template-columns: repeat(2, minmax(0, 1fr));}
        @include breakpoint(md) {grid-template-columns: repeat(3, minmax(0, 1fr));}
        @include breakpoint(lg) {grid-template-columns: repeat(4, minmax(0, 1fr));}
    }
}